$sidebar-bg-color: #0a205f;
$sidebar-color: #b3b8d4;
$highlight-color: #dee2ec;
$sidebar-width: 200px;

//for submenu
$submenu-bg-color: #0a205f;

// for icon in menu item
$icon-bg-color: rgba(255, 255, 255, 0.05);
$icon-size: 35px;

@import "~react-pro-sidebar/dist/scss/styles.scss";

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100vh;
}

.app {
  height: 100vh;
  display: flex;
  position: relative;

  .btn-toggle {
    cursor: pointer;
    display: none;
  }

  @media (max-width: $breakpoint-md) {
    .btn-toggle {
      display: flex;
    }
  }
}

.logoImg {
  width: 90px;
  height: 90px;
}

.sideBarHeaderImg {
  padding: 2rem 2rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBarHeaderName {
  padding: 0 1.5rem 1rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.2rem;
}

.sideBarFooter {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pro-sidebar-inner .pro-sidebar-layout .active {
  background-image: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}

.paper {
  width: 96%;
  padding-top: 10px;
}

@media print {
  .noPrint {
    display: none !important;
  }

  * {
    overflow: hidden;
  }

  .paper {
    width: 100vw;
  }
}


/************ SCROLLBAR ************/

::-webkit-scrollbar-button{
  visibility: hidden;
}

::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}